body.login {
    background: #99c0cc; /* Old browsers */
    background: -moz-linear-gradient(-45deg,  #99c0cc 0%, #4a6d84 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#99c0cc), color-stop(100%,#4a6d84)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(-45deg,  #99c0cc 0%,#4a6d84 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(-45deg,  #99c0cc 0%,#4a6d84 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(-45deg,  #99c0cc 0%,#4a6d84 100%); /* IE10+ */
    background: linear-gradient(135deg,  #99c0cc 0%,#4a6d84 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#99c0cc', endColorstr='#4a6d84',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    overflow: hidden;
}

#campn {    
    color: #4A6D84;
    font-weight: bold;
    padding: 10px 0px 0px 20px;
    font-size: 25px;
}

.input-wrap {
    margin: 20px 0px 0px 20px;
}

.input-icon {
    display: inline-block;
    border: 1px solid #D4D4D4;
    border-right: 0;
    padding: 5px 5px 4px 5px;
    margin-right: -4px;
    width: 20px;
    text-align: center;
    background-color: #D4D4D4;
}

.input-icon i {
    font-size: 16px;
    color: #777777;
}

input {
    color: #777777 ;
    font-size: 16px;
    margin: 0;
    padding: 4px;
    border: 1px solid #D4D4D4;
}

#login-wrap {
    width: 100%;
}

#login-wrap:after {
  display: block;
  content: "";
  clear: both;
}

#login-button {
    background-color: #4A6D84;
    color: #ffffff;
    float: right;
    font-size: 16px;
    text-transform: uppercase;
    border: 0;
    margin: 10px;
    padding: 5px 10px 5px 10px;
    border-radius: 3px;
}


button i {
    margin-top: 4px;
    margin-right: 5px;
}

#forgottenPassword {
    margin: 10px 0px 0px 20px;
    font-size: 16px;
    text-decoration: none;
    color: #777777;
}

#forgottenPassword a {
    font-weight: bold;
    text-decoration: none;
    color: #777777;
}

#pndata {
    text-align: center;
    color: #385365;
    padding: 5px;
    font-size: 14px;
    bottom: 0px;
    position: absolute;
    width: 100%;
}

#message {
    background-color: #FE2339;
    padding: 5px;
    margin: 10px 20px 0px 20px;
    border-radius: 3px;
    font-size: 16px;
    color: #ffffff;
    display: none;
}